html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

button:focus {
  outline:0;
}

.main-header {
  height: 40px;
  background-color: #3F3244;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: #f2f2f2;
  font-weight: 300;
  margin: 0px 50px;
  font-size: 1.25rem;
  text-transform: uppercase;
}

span {
  color: #34D1D1;
}

.hr-divider {
  width: 85%;
}

.name {
  font-weight: 600;
  color: #f2f2f2;
  margin: 0px 50px;
}

.section-divider {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
}

h3 {
  font-weight: 300;
  text-transform: uppercase;
}

.view-btn-div {
  display: flex;
}
.view-btn {
  background-color: #2F2235;
  color: #f2f2f2;
  text-transform: uppercase;
  height: 40px;
  width: 225px;
  font-weight: 300;
  font-size: 1rem;
  margin: 20px auto;
  justify-self: center;
}

.accordian-article {
  display: none;
}

.accordian-tabs {
  display: grid;
  /* grid-template-columns: 25% 25% 25% 25%; */
  width: 75%;
  margin: 0 auto;
}

.accordian-tabs header {
  grid-column-start: 1;
  width: 100%;
  display: grid;
  grid-column-end: span 4;
  grid-template-columns: 25% 25% 25% 25%;
}

.tab1 {
  grid-column-start: 1;
  grid-column-end: span 1;
}

.tab2 {
  grid-column-start: 2;
  grid-column-end: span 1;
}

.tab3 {
  grid-column-start: 3;
  grid-column-end: span 1;
}

.tab4 {
  grid-column-start: 4;
  grid-column-end: span 1;
}

.article-visible {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 3fr;
    grid-column-start: 1;
    grid-column-end: span 5;
    border-right: solid 1px #666666;
    border-left: solid 1px #666666;
    border-bottom: solid 1px #666666;
    
}

.article-visible img {
    /* margin: 15px 0 15px 15px; */
    grid-row-start: 1;
    grid-row-end: span 4;
}

h5 {
      grid-column-start: 2;
    grid-column-end: span 5;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-left: 26px;
    margin-top: 30px;
}

.article-visible hr {
  grid-row-start: 1;
    grid-column-start: 2;
    grid-row-end: 2;
    margin-top: 60px;
    height: 0;
    width: 90%;
    grid-column-end: span 3;
}

.article-visible p {
  grid-column-start: 2;
  grid-column-end: span 5;
  margin: 5px 25px;
  width: 87%;
  line-height: 150%;
  max-height: 227px;
  overflow-y: scroll
}

.tabs {
  height: 35px;
  background-color: #d1d2d3;
  border: none;
  color: #666666;
  font-weight: 300;
  font-size: 1rem;
  border-bottom: solid 1px #666666;
}

.tab-active {
  background-color: white;
  border-left: solid 1px #666666;
  border-top: solid 1px #666666;
  border-right: solid 1px #666666;
  border-bottom: none;
}

@media (max-width: 675px) {

  .accordian-tabs {
    width: 75%;
    margin: 0 auto;
    display: block;
}

  .accordian-tabs header {
  width: 100%;
    display: grid;
    display: flex;
    flex-direction: column;
}

.article-visible {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 80px 250px;
    grid-column-start: 1;
    grid-column-end: 2;
    border-right: solid 1px #666666;
    border-left: solid 1px #666666;
    border-bottom: solid 1px #666666;
}

.article-visible img {
    margin: 15px;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
    grid-auto-flow: dense;
}

h5 {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: 2;
    margin-left: 26px;
    margin-top: 30px;
    grid-auto-flow: dense;
}

.article-visible hr {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 2;
    margin-top: 60px;
    height: 0;
    width: 90%;
    grid-column-end: span 1;
}

.article-visible p {
    grid-column-start: 1;
    grid-column-end: span 1;
    /* margin: 5px 25px; */
    width: 90%;
    line-height: 150%;
    grid-row-start: 3;
    grid-auto-flow: dense;
}

}